

  <div class="caja-menu">
    <div class="titulo">
      <img src="https://c4.wallpaperflare.com/wallpaper/596/53/252/spider-man-the-amazing-spider-man-logo-red-wallpaper-thumb.jpg" alt="Logo">
      <div class="nombre">
        <h2><a href="/">Crub Laboratorio N°7</a></h2>
      </div>
    </div>

    <div class="lista-menu">
        <ul class="lista-categoria">
          <li><a href="/habilidades">Series</a> </li>
          <li><a href="/contactos">Destacados</a></li>
          
        </ul>
    </div>
  </div>
