

  <div class="caja-menu">
    <div class="titulo">
      <img src="https://cdn-icons-png.flaticon.com/128/1177/1177568.png" alt="Logo">
      <div class="nombre">
        <h2><a href="/">Crub Laboratorio N°8</a></h2>
      </div>
    </div>

    <div class="lista-menu">
        <ul class="lista-categoria">
          <li><a href="/habilidades">Mas lab</a> </li>
          <li><a href="/contactos">Lab anterior</a></li>
          
        </ul>
    </div>
  </div>
